div{
   
    background-color: aqua;
    border: 2px solid black;
    display: inline;
    height: 50px;
    width: 50px;
}

#box1{
    position: static ;
}
#box2{
    position: relative;
top: 20px;
left: 10px;
}
#box3{
     position: sticky;
     top: 0px;
     left: 20px;
}
#box4{
    position: fixed;
    top: 0;
}